# Ignore everything in this directory
*
# Except these files
!.gitignore
!config.example.Authors.json
!config.example.json
!config.example.JSONMode.json
!config.example.Facts.json
!config.example.Vision.json